html, body {
  background-color: lightpink; /* pick any color */
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  }

/****************   Nav Section **********************/
nav {
	display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hotpink;
  color:darkmagenta;
}

/***********************  Footer Section   **************************/
footer {
	display: flex;
  justify-content: center;
  padding: 10px;
  background-color: hotpink;
  color: white;
}

/*********** Splash Page ************************/
header {
  text-align: center;
  padding: 40px 20px;
  background-color: lightpink;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color:darkmagenta;
}

header img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid black;
}

.address {
  text-align: center;
  font-size: 15px;
  color: darkmagenta;

}

.tagline {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  color: darkmagenta;

}

/************* Sections ********************/
hr {
  margin: 30px 0;
  color:darkmagenta;
}

section h2 {
  font-family: 'Playfair Display', serif;
  color:darkmagenta;

}

section h3 {
  font-family: 'Playfair Display', serif;
  color:darkmagenta;
}

section dl {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  gap: 5px 20px;

}

section ul {
  list-style-type: square;
  padding-left: 20px;

}

section a {
  color: #fb7185;
  text-decoration: none;
}

section a:hover {
  color: #7a0f1e;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card img {
  width: 60px;
  margin-bottom: 10px;
}

.card {
  background-color: #fb7185;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid darkmagenta ;
  
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    .three-col {
      grid-template-columns: 1fr;
      justify-items: center;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;

}

textarea {
   padding: 8px;
   border-radius: 5px;
   border: 1px solid #ccc;
}
